html{
	font-family: arial;
}
*{
	background-color: gray;
}
h1{
	background-color: #C7E1FF;
	font-size: 40px;
	border: solid 3px black;
}
h2{
	background-color: #C7E1FF;
	margin: auto;
	border: solid 3px black;
	text-align: center;
}
p{	
	background-color: whitesmoke;
	padding: 20px;
	border: solid 3px blue;
	margin: 20px;
}
.fondito{
	background-color: #C7E1FF;
	margin: 30px;
	align-items: center;
	padding: 20px;
}
img{
	border: solid 3px black;
	background-color: #C7E1FF;
}
center{
	background-color: #C7E1FF;
}